<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Stalinist+One" rel="stylesheet">
</head>
<style>

	h1{
		color: #fae596;
		font-family: 'Stalinist One', cursive;
		text-align: center;
		margin-top: 10%;
		margin-bottom: 0;
		font-size: 50px;

	}

	body {
		margin: 0;
		height: 800px;
		background-color: #3fb0ac;
		background: -webkit-linear-gradient(bottom left, rgba(0,255,0,1) 0%, rgba(0,128,128,1) 50%, rgba(0,128,128,1) 69%, rgba(0,128,128,1) 100%);
		background: -o-linear-gradient(bottom left, rgba(0,255,0,1) 0%, rgba(0,128,128,1) 50%, rgba(0,128,128,1) 69%, rgba(0,128,128,1) 100%);
		background: linear-gradient(to top right, rgba(0,255,0,1) 0%, rgba(0,128,128,1) 50%, rgba(0,128,128,1) 69%, rgba(0,128,128,1) 100%);
		}	

</style>
<body>
	<h1>Introducing <%= nerd.name %> who is the <%= nerd.title %></h1>
</body>
</html>

